<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebTest2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAdmin</display-name>
    <servlet-name>CreateAdmin</servlet-name>
    <servlet-class>servlets.CreateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdmin</servlet-name>
    <url-pattern>/CreateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet2</display-name>
    <servlet-name>TestServlet2</servlet-name>
    <servlet-class>servlets.TestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet2</servlet-name>
    <url-pattern>/TestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>servlets.books.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/books/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAjax</display-name>
    <servlet-name>AddAjax</servlet-name>
    <servlet-class>servlets.books.AddAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAjax</servlet-name>
    <url-pattern>/books/AddAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateGlobals</display-name>
    <servlet-name>GenerateGlobals</servlet-name>
    <servlet-class>servlets.GenerateGlobals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateGlobals</servlet-name>
    <url-pattern>/globals.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAjax</display-name>
    <servlet-name>LoginAjax</servlet-name>
    <servlet-class>servlets.LoginAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAjax</servlet-name>
    <url-pattern>/LoginAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateBooks</display-name>
    <servlet-name>GenerateBooks</servlet-name>
    <servlet-class>servlets.GenerateBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateBooks</servlet-name>
    <url-pattern>/books/books.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Books</display-name>
    <servlet-name>Books</servlet-name>
    <servlet-class>servlets.Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books</servlet-name>
    <url-pattern>/Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlets.users.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/users/Add</url-pattern>
  </servlet-mapping>
</web-app>